go 1.26.1

use (
	./examples/auth-cms
	./examples/cms
	./examples/goth-showcase
	./examples/jobs-minimal
	./examples/minimal
	./integrations/cryptids/bcrypt
	./integrations/cryptids/golang-jwt
	./integrations/cryptids/google-uuid
	./integrations/datastores/pgxdb
	./integrations/datastores/turso
	./integrations/email/sendgrid
	./integrations/filestorage/gcs
	./integrations/filestorage/s3
	./integrations/kvstores/goredis
	./integrations/notify/mailer
	./integrations/oauth/github
	./integrations/oauth/google
	./integrations/scheduling/robfig-cron
	./integrations/tracing/otel
	./pockets/authentication
	./pockets/authentication/stores/pgx
	./pockets/authentication/stores/turso
	./pockets/authentication/views/goth
	./pockets/authorization
	./pockets/authorization/stores/pgx
	./pockets/authorization/stores/turso
	./pockets/cms
	./pockets/cms/stores/pgx
	./pockets/cms/stores/turso
	./pockets/cms/views/goth
	./pockets/events
	./pockets/events/stores/pgx
	./pockets/events/stores/turso
	./pockets/jobs
	./pockets/jobs/stores/pgx
	./pockets/jobs/stores/turso
	./sdk
	./ui/goth
	./workshop/gopernicus
)
